@media only screen and (max-width:1024px) {


    #glasses{
      display:none;
    }


    #pen, #watch , #glasses{
      display:block;
      width:47%;

    }

   .productgrid{
         width:96%;
       }
       .img-container{
         width:96%;
       }

}
/*@media only screen and (max-width:470px){

.logo-container{
width:26rem;
}
.posterbox-container{
width:23.5rem;
}
.nav-container{
width:23.5rem;
}
.productgrid{
width:23.5rem;
}
.img-container{
  width:23.5rem;
}
  #pen , #watch , #glasses {
    width:23.5rem;
  }
  #watch, #glasses{
    display:none;
  }
 .locgrid{
   flex-flow:column;
 }

 .location{
   width:23.5rem;
 }
 .textgrid{
   flex-flow:column;
   display:flex;
   align-items: center;
   justify-content: center;
 }
 .textgrid #textloc{
    width:23.5rem;
}
.footer-container{
  width:23.5rem;
}
}*/
html{
  margin:0;
  font-size:18px;
    width:border-box;
    font-family:helvetica;
    }

  /* Header */
.header{
  height:20rem;
  width: border-box;
  background-image:url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
         }

.logo{
  margin:0;
  height:2.32rem;
  width:border-box;
  background-color:black;
  display: flex;
  align-items: center;
  justify-content: center;
      }

.logo-container{
  width:26rem;
  height:2.32rem;
  display:flex;
  align-items: flex-start;
      }



.logo img{
  padding-left:0.5rem;
  padding-right:1rem;
  height:1.5rem;
           }

.logo  span{
  color:white;
  padding:0.66rem;
  font-family:Helvetica;
  font-size:1rem;
          }

 .posterbox{
   margin-top:10rem;
   margin-left: 0;
   width:border-box;
   height:5rem;
   display: flex;
  align-items:center;
  justify-content: center;

  }

  .posterbox-container{
    height:5rem;
    width:26rem;
    display:flex;
    align-items:center;
    justify-content: flex-start;

      }
   .posterbox-display{
     height:5rem;
     width:26rem;
     background-color: black;
     display:flex;
     align-items:flex-start;
     flex-flow: column wrap;
   }


.posterbox-container #title1{
  padding-top:1rem;
  padding-left:2rem;
  color:white;
  font-family:Helvetica;
  font-size:0.77rem;
  font-weight:bold;
}

.posterbox-container  #title2{
  padding-top:0.25rem;
  padding-left:2rem;
  color:white;
  font-family:Helvetica;
  font-size:1rem;
  font-weight:bold;
}



.nav {
  margin-top:1rem;
  margin-left:0;
  height:2.5rem;
  background-color:firebrick;
  width:border-box;
  display: flex;
  align-items:center;
  justify-content: center;
}
.nav-container{
    width:26rem;
  height:2.5rem;
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
}
.nav-container #alter{
                display: block;
            }
.nav-container #norm{
               display: none;
             }

.nav-container a:link{
  color:white;
  text-decoration: none;
  padding-top:0.75rem ;
  padding-bottom:0.75rem;
  display:inline;
}
/* End Header */
 .main{
  height:30rem;
  width:border-box;
  display: flex;
  align-items: center;
  justify-content: center;

   }
.productgrid{
  height:30rem;
  width:26rem;


}

.productgrid img{
  width:90%;
         height:9rem;
         padding-top: 2rem;
         padding-bottom: 2rem;

  }
  .img-container{
    margin-top: 3rem;
    height:16rem;
    max-width:26rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

  }
  #watch, #glasses{
    display:none;
  }
 #pen, #watch , #glasses{
  max-width:90%;
  height:15rem;
  border:4px solid black;
  color:white;
  text-align: center;

 }
#pen h3, #watch h3 , #glasses h3{
  padding:0.5rem;
}
.imgtitle{
  background-color: black;
  height:2rem;
  width:border-box;
}
.locgrid{
  margin-top: 3rem;
  margin-bottom:0;
  width:26rem;
  height:3rem;
  display:flex;
  flex-flow:column ;
  justify-content: center;
}
.location{
background-color: black;
width:90%;
height:3rem;
}
.location span{

  color:white;
  text-align:left;
  padding-left:2rem;
  padding-top:1rem;
}
 .textloc{
   width:90%;
 height:2rem;
 background-color: white;
}

 .textloc span{
    color:black;
  text-align:left;
  padding-left:2rem;
  padding-top:1rem;
}


/* Footer */
.footer{
    background-color:black;
  height:5rem;
  width:border-box;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container{
  height:5rem;
  width:26rem;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-container p{
  font-weight:bold;
  text-align:left;
}
  /* End Footer */
