
@media only screen and (max-width:1024px)
{
    .productgrid{
      height:100%;
      width:53rem;
      display:flex;
      align-items:flex-start;
      justify-content:space-between;
      flex-flow: column;
    }
    .img-container{
        width:53rem;
        display:flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .productgrid img{
             width:25rem;
             height:13rem;

      }


      #pen, #watch ,#glasses{
        width:25rem;/*16rem*/
        height:15rem;
        border:4px solid black;
        color:white;
        text-align: center;
      }

      .imgtitle{
        background-color: black;
        height:2rem;
        width:25rem;/*16rem*/
      }
 .nav-container #norm{
           display: none;
}
  .nav-container #alter{
        display: block;
        }
   .nav-container a:link{
      color:white;
        }
}

@media only screen and (max-width:470px){
}
html{
  margin:0;
  font-size:18px;
    width:100%;
    }

  /* Header */
.header{
  height:30rem;
  width: 100%;
  background-image:url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
         }


.logo{
  margin:0;
  height:2.32rem;
  width:100%;
  background-color:black;
  display: flex;
  align-items: center;
  justify-content: center;
      }

.logo-container{
  width:53rem;
  height:2.32rem;
  display:flex;
  align-items: flex-start;
      }



.logo img{
  padding-left:0.5rem;
  padding-right:1rem;
  height:1.5rem;
           }

.logo  span{
  color:white;
  padding:0.66rem;
  font-family:Helvetica;
  font-size:1rem;
          }

 .posterbox{
   margin-top:9rem;
   margin-left: 0;
   width:100%;
   height:9.5rem;
   display: flex;
  align-items:center;
  flex-flow: column wrap;
  }

  .posterbox-container{
    height: 9.5rem;
    width:53rem;
    background-color: black;
    display:flex;
    align-items:flex-start;
    flex-flow: column wrap;
      }

.posterbox-container #title1{
  padding-top:2rem;
  padding-left:3rem;
  color:white;
  font-family:Helvetica;
  font-size:1rem;
  font-weight:bold;
}

.posterbox-container  #title2{
  padding-top:0.25rem;
  padding-left:3rem;
  color:white;
  font-family:Helvetica;
  font-size:2rem;
  font-weight:bold;
}



.nav {
  margin-top:6.5rem;
  margin-left:0;
  height:2.5rem;
  background-color:firebrick;
  width:100%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.nav-container{
    width:53rem;
  height:2.5rem;
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
}
.nav-container #alter{
                display: none;
            }
.nav-container #norm{
               display: block;
             }

.nav-container a:link{
  color:white;
  text-decoration: none;
  padding-top:0.75rem ;
  padding-bottom:0.75rem;
  display:inline;
}
/* End Header */
/*.main{
  height:30rem;
  width:100%;
  display:flex;
  align-items:center;
  justify-content: center;

}*/
.productgrid{
  margin-top: 3rem;
  height:30rem;
  width:100%;
  display:flex;
  flex-flow: column;
    align-items:center;
  justify-content:center;
}

.productgrid img{
         width:16rem;
         height:13rem;

  }
  .img-container{
    margin-top: 3rem;
    width:53rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

  }
#pen, #watch , #glasses{
  width:16rem;
  height:15rem;
  border:4px solid black;
  color:white;
  text-align: center;
}
#pen h3, #watch h3 , #glasses h3{
  padding:0.5rem;
}
.imgtitle{
  background-color: black;
  height:2rem;
  width:16rem;
}
.locgrid{
  margin-top: 3rem;
width:53rem;
height:5rem;
display:flex;
align-items: flex-start;
justify-content: space-between;
}
.location{
  background-color: black;
  width:18.6rem;
  height:3rem;
}
.location span{
  color:white;
  text-align:left;
  padding-left:2rem;
  padding-top:1rem;
}

.textgrid{
  width:53rem;
  height:2rem;
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
}

.textgrid #textloc{
 width:18.6rem;
 height:2rem;
 background-color: white;
}

.textgrid #textloc span{
    color:black;
  text-align:left;
  padding-left:2rem;
  padding-top:1rem;
}


/* Footer */
.footer{
    background-color:black;
  height:5rem;
  width:100%;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container{
  height:5rem;
  width:53rem;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-container p{
  font-weight:bold;
  text-align:left;
}
  /* End Footer */
