@media only screen and (max-width:1024px){


  #glasses{
    display:none;
  }
  #pen, #watch , #glasses{

   width:47%;

    }

   .productgrid{
     width:100%;
   }
    .img-container{
      width:53rem;
    }
    .nav-container{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav-container #norm{
     display: none;
      }



  }

  @media only screen and (max-width:470px){

*{
    box-sizing:border-box;
  }

  .header{
    height:20rem;
    width:26rem;
  }
  .posterbox{
    width:26rem;
  }
  .posterbox-container{
    width:26rem;
  }
  .posterbox-display{

    display:flex;
    align-items:flex-start;
    flex-flow: column wrap;
  }

    .posterbox-container #title1{
      padding-top:1rem;
      padding-left:2rem;
      font-size:0.77rem;
      }

    .posterbox-container  #title2{
      padding-top:0.25rem;
      padding-left:2rem;
      font-size:1rem;
        }


    .nav-container #norm{
       display: none;
         }
         .nav-container{
           display: flex;
           align-items: center;
           justify-content: center;
         }
    .main{
      width:100%;
      height:30rem;
    }

    #watch, #glasses{
      display:none;
    }
    #pen, #watch , #glasses{

     width:90%;
     height:15rem;

      }
      .productgrid{
        width:100%;
        margin-top:2rem;

      }
    .img-container{
      width:26rem;
      margin-top:2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

      .textloc{

        width:90%;
        height:1rem;
        background-color: white;
     }
     .location{
       background-color: black;
       width:90%;
       height:2rem;
       }
       #loc{
         display: flex;
         align-items: center;
         justify-content: center;
         flex-flow: column;
       }

  }

 *{
   box-sizing:content-box;
   margin:auto;

 }
html{
  font-size:18px;
  font-family:helvetica;

    }
      /* Header */
.header{
  height:30rem;
  width: auto;
  background-image:url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
         }

.logo{
  margin:0;
  height:2.32rem;
  width:auto;
  background-color:black;
  display: flex;
  align-items: center;
  justify-content: center;
      }

.logo-container{
  width:53rem;
  height:2.32rem;
  display:flex;
  align-items: flex-start;
      }



.logo img{
  padding-left:0.5rem;
  padding-right:1rem;
  height:1.5rem;
           }

.logo  span{
  color:white;
  padding:0.66rem;
  font-family:Helvetica;
  font-size:1rem;
          }

 .posterbox{
   margin-top:9rem;
   margin-left: 0;
   width:auto;
   height:9.5rem;
   display: flex;
   align-items:center;
   justify-content: center;

  }

  .posterbox-container{
    height: 9.5rem;
    width:53rem;
    display:flex;
    align-items:center;
    justify-content: flex-start;

      }
   .posterbox-display{
    height:9.5rem;
    width:20rem;
     background-color: black;
     display:flex;
     align-items:flex-start;
     flex-flow: column wrap;
   }


.posterbox-container #title1{
  padding-top:2rem;
  padding-left:3rem;
  color:white;
  font-family:Helvetica;
  font-size:1rem;
  font-weight:bold;
}

.posterbox-container  #title2{
  padding-top:0.25rem;
  padding-left:3rem;
  color:white;
  font-family:Helvetica;
  font-size:2rem;
  font-weight:bold;
}



.nav {
  margin-top:6.5rem;
  margin-left:0;
  height:2.5rem;
  background-color:firebrick;
  width:auto;
  display: flex;
  align-items:center;
  justify-content: center;
}
.nav-container{
  width:53rem;
  height:2.5rem;
  display:flex;
  align-items: center;
  justify-content:center;
}
 .nav-container #norm{
   display: none;
 }

.nav-container a:link{
  color:white;
  text-decoration: none;
  padding-top:0.75rem ;
  padding-bottom:0.75rem;
  display:inline;
}
/* End Header */
 .main{
 height:30rem;
  width:100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;

   }
.productgrid{
  height:30rem;
  width:53rem;
  display: flex;
  align-self: center;
  flex-flow: column;
}


.productgrid img{
         width:13rem;
         height:9rem;
         padding-top: 2rem;
         padding-bottom: 2rem;

  }
  .img-container{
    margin-top: 3rem;
    height:16rem;
    width:53rem;
    display: flex;
    align-items:center;
    align-self: center;
    justify-content: space-around;

  }
 #pen, #watch , #glasses{
  width:16rem;
  height:auto;
  border:4px solid black;
  color:white;
  text-align: center;

 }
#pen h3, #watch h3 , #glasses h3{
  padding:0.5rem;
}
.imgtitle{
  background-color: black;
  height:2rem;
  width:100%;
}
.locgrid{
  margin-top: 3rem;
  margin-bottom:0rem;
  width:35%;
  height:3rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
#loc{
  width:53rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.location{
  background-color: black;
  width:18.6rem;
  height:3rem;
  padding-bottom: .2rem;
}
.location span{
  color:white;
  text-align:left;
  padding-left:2rem;
  padding-top:.5rem;
}
 .textloc{

  width:18.6rem;
   height:2rem;
   background-color: white;
}

 .textloc span{
    color:black;
    text-align:left;
    padding-left:2rem;
    padding-top:.5rem;
}

/* Footer */
.footer{
    background-color:black;
    height:5rem;
    width:100%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container{
  height:5rem;
  width:53rem;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-container p{
  font-weight:bold;
  text-align:left;
}
  /* End Footer */
