
.header{
  background-image:url("resources/images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  }
.header #logo{
  background-color:black;
  width:100%auto;
  height:50px;
  }

  .header nav{
    background-color:maroon;
    width:100%;
    height:50px;
  }
